@import url(http://fonts.googleapis.com/css?family=Raleway:500,600,700,100,800,900,400,200,300);
@import url(http://fonts.googleapis.com/css?family=Playball);

body, html{
	font-family: 'Raleway', sans-serif;
}
* {
    margin: 0px;
    padding: 0px;
}
/* Barra de Navegacion */
nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: rgba(0,0,0,0.5);
    position: fixed;
    width: 100%;
    z-index: 1;
}
.top{
    float: right;
}
.top{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.top:hover{
    text-decoration: underline;
    transition: all 0.5s;
}
.top2{
    float: left;
}
.top2{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.top2:hover{
    text-decoration: underline;
    transition: all 0.5s;
}
/* Para que no se vea el a en violeta */
.navegacion{
    color: white;
    text-decoration: none;
}
/* Para que no se vea el a en violeta - Fin */
/* Inicio Nav */
.trabajos{
    float: left;
}
.trabajos{
    display: block;
    color: white;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
}
.trabajos:hover {
    background-color: red;
    transition: all 0.5s;
}
/* Inicio Nav - Fin */
/* Barra de Navegacion - Fin */
/* Fondo Principal */
.background{
	background: url(img/zapatos.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	color: #cfcfcf;
    padding: 15%;
}
.titulos{
    padding: 13% 0 18% 0;
	text-align: center;
    font-size: 15px;
    color: white;
}
/* Fondo Principal - Fin */
/* Texto Principal */
.titulo-informacion{
    margin-bottom: 20px;
	font-size: 25px;
	font-weight: 700;
    text-decoration: underline;
}
#principal{
    padding: 2em;
    font-size: 16px;
    text-align: center;
}
#principal p{
    max-width: 600px;
    display: block;
    margin: 0 auto;
    margin-bottom: 2em;
}
/* Texto Principal - Fin */

.contactos{
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 2em;
  padding: 15%;
}
.textocontactos{
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 25px;
  margin-top: 2em;
  margin-bottom: 2em;
}
/* Footer */
.derechos{
    color: white;
    background: rgba(0,0,0,0.9); 
    font-size: 15px;
    display: block;
}
.footerContainer{
    padding: 2em 1em 2em 1em;
}

.footerContainer .derecha{
    float: right;
}
/* Footer - Fin */
/* Error */
.error1 h1 {
    font-size: 30px;
    color: red;
    padding-top: 10em;
    padding-bottom: 10em;
    text-align: center;
}
/* GALERIA BOOTSTRAP */
.container{
    text-align: center;
    padding-top: 10em;
    padding-bottom: 10em;
}
.gallery-title
{
    font-size: 36px;
    color: #42B32F;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}
.filter-button
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #42B32F;
    margin-bottom: 30px;

}
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #42B32F;

}
.btn-default:active .filter-button:active
{
    background-color: #42B32F;
    color: white;
}

.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
}

/* GALERIA BOOTSTRAP - FIN */
/* Contacto */
#mesage{
    width: 300px;
    padding: 2em;
    display: inline-block;
}
.enter{
    padding: 8%;
    text-align: center;
}
.enter2{
    padding-top: 2em;
}
.estadosunidos{
    text-align: center;
    padding-left: 5em;
}
.alemania{
    text-align: center;
    padding-left: 8em;
}
.suecia{
    text-align: center;
    padding-left: 9em;
}
.francia{
    text-align: center;
    padding-left: 9em; !important
}
label {
    display: block;
}
input{
    width: 300px;
    padding: 2em;
    text-align: center;
}
.error{
    background-color: #F55;
}
.success{
    background-color: #5F5;
}
.formula{
    display: block;
    text-align: center;
    padding: 15%;
}
#mesage{
    width: 300px;
    padding: 2em;
}
#submit{
    display: block;
    width: 300px;
    padding: 2em;
    margin-top: 2em;
}
.azul2{
    background: #11162a;
    position: relative;
    top: 2.6em;
}
.tituloportfolio2{
    text-decoration: underline;
    text-align: center;
    font-size: 40px;
    color: white;
}
/* Contacto FIN */
/* Tabla */
.tabla{
    border: 1px solid white;
    border-collapse: collapse; 
    border-spacing: 5px;
    width: 100%;
    color: white; 
    text-align: center;
    height: auto;
} 

th, td {
    border:1px solid white;
    padding: 15px;
} 

thead, tfoot {
    background-color: rgba(0,0,255,0.7);
    color:white; 
    font-family:"Arial Black", sans-serif;
} 

tr.color {
    background-color:#525151; 
} 

caption {
    color:white;
    font-size: 30px; 
    padding: 20px; 
    font-family:Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
    height: 90px;
    line-height: 90px;
    text-align: center;
    background: #11162a;
}
th.color {
    background-color: cornflowerblue; 
}
#titulo {
    font-size: 60px;
}
.color2 {
    background-color: #1d2d5e;
}
/* Tabla FIN */
.espacio{
    background-color: #1d2d5e;
    padding: 10em;
}
.errorget{
    color: red;
    text-align: center;
    font-size: 30px;
    padding-top: 2em;
}
.centrar2{
    color: white;
    text-align: center;
    padding: 1em;
    margin-bottom: 2em;
}
.centrar3{
    padding-top: 2em;
    color: black;
    margin-bottom: 2em;
    text-align: center;
}
.centrar4{
    background-color: white;
    padding-top: 2em;
    color: white;
    margin-bottom: 2em;
    text-align: center;
}
/* Login */
.background16{
	background: url(img/zapatos.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	color: #cfcfcf;
    padding: 15%;
}
.blanco{
    color: white;
}
/* Login FIN */
/* Registrarse */
.background17{
	background: url(img/zapatos.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	color: #cfcfcf;
    padding: 15%;
}
/* Registrarse FIN */
.subido{
    font-size: 30px;
    text-align: center;
    padding-top: 3em;
    padding-bottom: 2em;
}
.cuentas{
    color: white;
    font-size: 30px;
    text-align: center;
    margin-top: -5em;
}
.infocuenta{
    text-align: center;
    color: white;
    padding-top: 2em;   
}
.infocuenta2{
    text-align: center;
    color: white;
}
.button1{
    background-color: #f44336;
    border: none;
    color: white;
    padding: 10px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.button5{
    background-color: #f44336;
    border: none;
    color: white;
    padding: 10px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}